HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
log/
/node_modules/.package-lock.json
/node_modules/pinyin-pro/types/common/ac.d.ts
/node_modules/pinyin-pro/types/common/constant.d.ts
/node_modules/pinyin-pro/types/data/dict1.d.ts
/node_modules/pinyin-pro/types/data/dict1-pinyin.d.ts
/node_modules/pinyin-pro/types/data/dict2.d.ts
/node_modules/pinyin-pro/types/data/dict3.d.ts
/node_modules/pinyin-pro/types/data/dict4.d.ts
/node_modules/pinyin-pro/types/data/dict5.d.ts
/node_modules/pinyin-pro/types/data/dict-number.d.ts
/node_modules/pinyin-pro/types/core/pinyin/handle.d.ts
/node_modules/pinyin-pro/types/common/segmentit/index.d.ts
/node_modules/pinyin-pro/types/core/convert/index.d.ts
/node_modules/pinyin-pro/types/core/custom/index.d.ts
/node_modules/pinyin-pro/types/core/dict/index.d.ts
/node_modules/pinyin-pro/types/core/html/index.d.ts
/node_modules/pinyin-pro/types/core/match/index.d.ts
/node_modules/pinyin-pro/types/core/pinyin/index.d.ts
/node_modules/pinyin-pro/types/core/polyphonic/index.d.ts
/node_modules/pinyin-pro/types/core/segment/index.d.ts
/node_modules/pinyin-pro/types/index.d.ts
/node_modules/pinyin-pro/dist/index.js
/node_modules/pinyin-pro/dist/index.mjs
/node_modules/pinyin-pro/LICENSE
/node_modules/pinyin-pro/types/common/segmentit/max-probability.d.ts
/node_modules/pinyin-pro/types/core/pinyin/middlewares.d.ts
/node_modules/pinyin-pro/types/core/segment/middlewares.d.ts
/node_modules/pinyin-pro/types/common/segmentit/min-tokenization.d.ts
/node_modules/pinyin-pro/package.json
/node_modules/pinyin-pro/README.md
/node_modules/pinyin-pro/types/common/segmentit/reverse-max-match.d.ts
/node_modules/pinyin-pro/types/data/special.d.ts
/node_modules/pinyin-pro/types/data/surname.d.ts
/node_modules/pinyin-pro/types/common/type.d.ts
/node_modules/pinyin-pro/types/common/utils.d.ts
